@model MvcMovie.Models.Director

@{ ViewData["Title"] = "Delete"; }

<div align='center'>
    <h1>You what to Delete (  @Html.DisplayFor(model => model.Name) ) ?</h1>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Yes" class="btn btn-danger" />
        <a class="btn btn-small btn-success" asp-action="Index">No</a>
    </form>
</div>
