@model MvcMovie.Models.Director

@{ ViewData["Title"] = "Details"; }

<div class="text-lg-center">
    <h1>@Html.DisplayFor(model => model.Name) Movie List</h1>
    <hr />
</div>
<div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <h3>Title:</h3>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Movies)
            {
<tr>
    <td>
        <h4> @item.Title </h4>
    </td>
    <td>
        <a class="btn btn-small btn-danger" asp-action="DirectorMovie" asp-route-id="@item.ID">Delete</a>
    </td>
</tr>
       }
        </tbody>
    </table>
</div>

<div class="text-md-right">
    <a class="btn btn-small btn-success" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-small btn-secondary" asp-action="Index">Back to List</a>
</div>
